@use 'base/variables' as var;
@use 'base/mixins' as mxs;

.btn-1 {
    @include mxs.btn-primary(
            var.$color-1, 
            var.$color-1-hover, 
            var.$text-color-white
        );
}

.btn-2 {
    @include mxs.btn-primary(
            var.$color-2, 
            var.$color-2-hover, 
            var.$text-color-gray
        );
    border: 1px solid var.$text-color-gray;
}

.btn-3 {
    @include mxs.btn-primary(
            var.$color-3, 
            var.$color-3-hover, 
            var.$text-color-white-2
        );
}

.btn-4 {
    @include mxs.btn-primary(
            var.$color-4, 
            var.$color-4-hover, 
            var.$text-color-white
        );
}

.btn-s1 {
    @include mxs.btn-secondary(
        var.$color-1, 
        var.$color-1-hover, 
        var.$text-color-white
    );
}

.btn-submit {
    @include mxs.font-primary();
    background-color: var.$color-1;
    padding-top: 0.5rem;
    padding-inline: 1.7rem;
    border-radius: .6rem;
    display: block;
    width: 100%;
    height: 4.0rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var.$text-color-white;
    cursor: pointer;
    border: none;


    &:hover {
        border: none;
        background-color: var.$color-1-hover;
    }

}

.buttons {
    display: flex;

    .btn-2 {
        margin-right: 10px;
    }
  }

