@use 'base/variables' as var;
@use 'base/mixins' as mxs;
  
.from fieldset {
    border: none;
}

.input-text {
    font-family: 'League Spartan', sans-serif;
    width: 40rem;
    height: 3.2rem;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: -0.25;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1.7rem;
    border: 1px solid;
    border-radius: 0.6rem;

    &:filled {
        border-radius: 0.6rem;
        border-color: #9277FF;
     }
}

.m-b-18 {
    margin-bottom: 1.8rem;
}

.m-b-25 {
    margin-bottom: 2.5rem;
}

.p-t-5 {
    margin-top: 0.5rem;
}