/* Estilo para la tarjeta */
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente el contenido */
}

/* Estilo para el título de la tarjeta */
.card-title {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.card-item-titulo {
    display: flex;
    gap: 40px;
    align-items: center;
}

.card-item-botones {
    display: flex;
    gap: 10px;
}

.card-item {
    width: 100px;
    padding: 5px;
    text-align: center;
    flex-grow: 1; /* Para ocupar todo el espacio disponible horizontalmente */
}

.nro {
    width: 40px;
    text-align: center;
}

.block-inline {
    display: inline-block;
}

.bg-agregar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between; /* Distribuye el contenido uniformemente */
    gap: 10px;
}
