@use 'base/variables' as var;
@use 'base/mixins' as mxs;

header#menu_top {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
  
    background-color: var.$color-3-hover;
    border-bottom: 1px solid #d4d9e1;
    box-sizing: border-box;
  }

  .content_menu_top {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .item_menu_top {
    height: 80%;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
    }
  }

  .title-main {
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    font-size: 42px;
    line-height: 36px;
    letter-spacing: -1.5;
    color: var.$text-color-white;
    padding-top: 1rem;
}

  .logo {
    display: flex;
    align-items: center;
  }

  .m-izq-10 {
    margin-left: 10px;
  }


