@use 'base/variables' as var;
@use 'base/mixins' as mxs;

div#main-start {
    width: 100%;
    padding-top: 80px;
}

main.content-center {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

main.centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

div.body {
    min-height: 74vh;
}