// Modal
/* Estilo para el fondo oscuro detrás del modal */
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Estilo para el modal en sí */
.modal-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 9999;
    padding: 20px;
    height: 550px;
    overflow: auto;
}

// .dentro-cat {
//     width: 700px;
//     height: 500px;
// }

.dentro-cat {
    width: 500px;
    height: 100px;
}

.botones-modal {
    display: flex;
    justify-content: space-evenly;
}