.edi-cont {
    // background-color: red;
    width: 100%;
    height: 370px;
    display: flex;
    padding-inline: 25px;
    padding-top: 45px;
    justify-content: space-between;
}

.edi-item {
    // background-color: blue;
    width: 320px;
    height: 320px;

    a {
      text-decoration: none;
    }
}

.edi-img {
    width: 100%;
    height: 75%;
    display: inline-block;
    background-color: burlywood;
}

.edi-title {
    display: block;
    text-align: center;
}