@use 'base/variables' as var;
@use 'base/mixins' as mxs;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* scroll-snap-type: y mandatory; */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1.5;
}

h2 {
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: -0.63;
}

h3 {
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.8;
}

.h3-2 {
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: -0.25;
}

.title-main {
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    font-size: 42px;
    line-height: 36px;
    letter-spacing: -1.5;
    color: var.$text-color-white;
    padding-top: 1rem;
}

.body-1 {
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: -0.25;
}

.body-2 {
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.23;
}

.content-pages {
    max-width: 90%;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.m-t-18 {
    margin-top: 1.8rem;
}

.m-t-0 {
    margin-top: 0px;
}

.linea {
    border: none;
    border-top: 1.5px solid #000;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.block {
    display: block;
}