// colores
$color-1 : #7C5DFA;
$color-1-hover : #9277FF;
$color-2: #F9FAFE;
$color-2-hover: #DFE3FA;
$color-3: #373B53;
$color-3-hover: #1E2139;
$color-4: #EC5757;
$color-4-hover: #FF9797;

$text-color-white: #FFFFFF;
$text-color-white-2: #DFE3FA;
$text-color-gray: #7E88C3;

$input-active: #9277FF;

// font-size
$text-h1: 32px;
$text-h2: 20px;
$text-h3: 16px;
$text-body-1: 12px;
$text-body-2: 11px;